/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	width:100%;
	
}*/


@font-face {
   font-family: myFont, Aerial;
   src: url(http://www.google.com/fonts/specimen/Roboto);
}
#wrapper{
	/*box-sizing: border-box;*/
	font-size: 15px;
	font-family:myFont, Aerial;
	background-color: #4a637f;

}
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#content{
	width: 90%;
	padding-top: 5%;
	padding-bottom:5%;
	margin: auto;
}
/************** vasko ***************/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
#nav{
	background-color: #fff;
	/*display: inline-block;*/
}
#mobile_opener{
	width: 7%;
	background-image: url("../img/mobile_opener_grey.png");
	background-position: center center;
	background-size: 40% 40%;
    background-repeat: no-repeat;
	float:left;
}
.mob_opener{
	width: 100%;
	min-height: 13vh;
	display: inline-block;

}
#mobile_opener:hover{
	min-height: 13vh;
	background-image: url("../img/mobile_opener.png");
	background-color: #56ccc8;
	background-position: center center;
	background-size: 40% 40%;
    background-repeat: no-repeat;
	
}

#mobile_opener img{
	width:50%;
	padding: 5%;
}
.top_menu{
	width: 50%;
	padding: 1% 0 0 0;
	text-align: center;
	vertical-align: top;
	float:left;
}
.menu{
	float:left;
	padding-left:7%;
	margin-top:2%;
}

.menu li{
	padding-left:25px;
	padding-right:25px;
	display: inline-block;
}
.menuLink{
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
}
.menuLink:hover{
	color: #a5e4e2;
}
#search{
	margin-left:40px;
	text-align: center;
	width: 16%;
	padding-top:2%;
	vertical-align: top;
	float:left;
}
#search input{
		border: 1px solid #dde2e4;
		background-image: url("../img/search.png");
		background-repeat: no-repeat;
		background-position: right;
}

.socialImg{
	width: 12%;
	margin-left:2.5%;
	padding: 2% 0 0 0;
	border-left: 1px solid #dde2e4;
	border-right: 1px solid #dde2e4;
	float:left;
	vertical-align: top;
}
.social{
	width: 20px;
	height: 20px;
	padding: 0% 8%;
	
}
.grouped_elements:hover{
	border-bottom: 2px solid #56ccc8;
}
#login{
	width: 2%;
	padding: 2% 2% 0 2%;
	vertical-align: top;
	float:right;
	
}
#login img{
	width: 86%;
}
.tableCont{
	display: inline-block;
}
.sideMenuHalf{
	width: 49%;
	margin: 2% 1% 0 0;
	float: left;
	display: table;
	
}
.LeftMargin{
	margin-right: 0;
	width: 50%;
	float: left;
}
.sideMenuTable{
	display: table;
}
.sideMenuLinks{
	width: 100%;
	display: table-cell;
}
.sideMenu{
	width: 50%;
	vertical-align: top;
	display: table-cell;
	background-color: #c5cdd1;
}
ul{
	padding:0;
	margin:0;
}
.SideMenuList li{
	list-style: none;
	padding: 3% 0;
	background-color: #fff;
	border-bottom: 1px solid #e1e5e7;
}

.sprites{
	width: 28px;
	height: 28px;
	background-image: url("../img/menu_icons.png");
	display: inline-block;
}
#home{
	background-position: 0 0;
}
#store{
	background-position: 0 -65px;
}
#blog{
	background-position: 0 -120px;
}
#community{
	background-position: 0 -180px;
}
#contests{
	background-position: 0 -240px;
}
#about{
	background-position: 0 -300px;
}
#contact{
	background-position: 0 -363px;
}
.side{
	width: 80%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 1% 0 1% 5%;
}
.SideMenuList li:hover{
	background-color: #56ccc8;
	color: #fff;
}
.contacts{
	background-color: #c5cdd1;
	
	
}

.cont{
	width: 25px;
	margin: 10%;
	background-image: url("../img/contact_icons.png");
	display: inline-block;
	
}
	
#telephon{
	background-position: 0 0;
}
#addres{
	background-position: 0 -64px;
}
#mail{
	background-position: 0 -144px;
}
.contacts p{
	width: 65%;
	padding: 10% 2%;
	vertical-align: top;
	display: inline-block;
	color: #fff;
	
}
.sideMenuLink{
	width: 48%;
	display: table-cell;
	
}
.subMenu{
	background-color: #152840;
	display: inline-block;
	margin-bottom:1%;
	width: 100%;
}
.subMenuList li{
	width: 99%;
	background-color: #152840;
	display: inline-block;
	border: none;
	
}
.subMenuLink {
	display: block;
	color: #fff;
}
.subMenuLink:hover{
	color: #56ccc8;
}

.subMenuList li:hover{
	background-color: #152840;
	background-image: url("../img/arrow_blue.png");
	background-repeat: no-repeat;
	background-position: center right;
}

.halfSocialIcon{
	width: 50%;
	vertical-align: top;
	display: table;
}

.socialHalf {
	width: 49%;
	float: left;
	
	
}
.left{
	width: 50%;
	background-color: #fff;
	padding-bottom: 1%;
}

.socialLinks{
	text-align: center;
}

.socialLinks li{
	list-style: none;
	padding: 4% 0;
}

.socialLink{
	width: 70%;
	padding: 2% 0 0 3%;
	color: #000;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	display: inline-block;
}
.socialLink:hover{
	color: #4fc6f8;
}
.spritesSocial{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #c5cdd1;
	background-image: url("../img/social_icons_big.png");
	background-repeat: no-repeat;
	display: inline-block;
}
.spritesSocial:hover{
	background-color: #4fc6f8;
}
#face{
	background-position: 7px -3px;
	
}
#tweety{
	background-position: 6px -59px;
	
}
#google{
	background-position: 7px -114px;
	
}
#rss{
	background-position: 7px -169px;
	
}
#pinterest{
	background-position: 6px -225px;
	
}


.socialBigImg{
	width: 80%;
	padding: 14% 5%;
}
.socialLinkRight{
	display: inline-block;
	width: 40%;
	text-decoration: none;
	
}
.socialBig span{
	color: #fff;
	padding: 10%;
}
.socialBig {
	width: 99%;
	margin: 0 2% 0 2%;
}

.faceboock{
	background-color: #4d6baa;
	margin: 0 0 6% 4%;
}
.faceboock img{
	width: 7%;
}
.tweet{
	background-color: #4fc6f8;
	margin: 0 0 0 4%;
}
.tweet img{
	width: 12%;
}

.rightBottombar{
	float: left;
	width:100%;
	margin-top:25px;
	/*margin: 2% 1%;*/
	background-color: #fff;
	text-align: center;
}
.insta{
	background: url("../img/insta.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.socialLinksLeft{
	width: 60%;
	padding-bottom: 5%;
	margin: 0 auto;
	display: inline-block;
}
.socialLinksLeft li{
	width: 20%;
	list-style: none;
	display: inline-block;
}
#faceLeft{
	background-color: #4d6baa;
	background-position: 6px -4px;
}
#tweetyLeft{
	background-color: #4fc6f8;
	background-position: 5px -59px;
}
#googleLeft{
	background-color: #ea6060;
	background-position: 6px -115px;
}
#instaLeft{
	background-color: #238cc8;
}
.socialLinkLeft{
	display: block;
	min-height: 22px;
}

.socialLinkLeft:hover{
	
	
}
.titleBottom{
	font-size: 2rem;
	width: 90%;
	padding: 5%;
}
.subTitleBottom{
	font-size: 1.2rem;
	padding: 0 0 3% 0;
}
.email input,
.email button{
	padding: 1% 5%;
}

.email button{
	color: #fff;
	background-color: #ea6060;
}
.email{
	padding-bottom: 3%;
}
.rightBottombar p{
	padding-bottom: 3%;
}
.topImg{
	width: 40%;
	position: absolute;
	top: 10%;
	left: 10%;
}
.titleBig{
	font-size: 3.5rem;
	padding-bottom: 5%;
	color: #fff;
}

.topImg p{
	font-size: 1.2rem;
	padding-bottom: 5%;
	color: #fff;
}
.topImg button{
	background-color: #787878;
	color: #fff;
	border: 2px solid #fff;
	cursor: pointer;
	padding: 2% 8%;
}
.topImg button:hover{
	background-color: #a8a7a7;
}
.section2 {
	margin: 1% 0;
}

.newz{
	width: 35%;
	background-color: #fff;
	position: relative;
	float: left;
}

.newsCont{
	width: 40%;
	padding: 19%;
	float: left;
}
#camera{
	position: absolute;
	width: 10%;
	min-height: 44px;
	top: 10%;
	left: 0;
	background-color: #ea6060;
}
#camera img{
	width: 50%;
	padding: 20%;
}
.newsCont h3{
	font-size: 2rem;
}
.newsCont span{
	font-size: 0.9rem;
	color: #c6cbce;
}
#red{
	color: #ed7575;
}
.newsLinks{
	width: 12%;
	float: left;
	height:auto;
	background-color: #1f3045;
	text-align: center;
	/*display:block;*/
}
.socialLinkstop {
	list-style: none;
}

.socialLinkstop li{
	margin-top:42%;
	margin-bottom:40%;
}
.socialLinkTop{
	color: #fff;
	text-decoration: none;
}

.socialLinkTop:hover{
	color: #56ccc8;
}

.spritesSocialTop{
	width: 28px;
	height: 28px;
	background: url("../img/icon_small2.png");
	background-repeat: no-repeat;
	padding: 5%;
	margin: 2% auto;
	display: block;
}
#like{
		background-position: 4px -5px;
}
#Later{
	background-position: 5px -100px;
}
#Share{
	background-position: 5px -191px;
}
.video{
	width: 52%;
	float: right;
}
/************* end vasko *************/
/************* nasko *****************/









/************* end nasko ***************/
